body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
header, nav, main, footer {
    max-width: 700px;
    margin: .5rem auto;
}
header, footer {
    background-color: #217286;
    color: antiquewhite;
}
header {
    text-align: left;
}
header img {
    display:block;
    margin: auto;
    width: 151px;
    height: auto;
}
h1 {
    padding: .6rem;
    padding-left: 5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}
h2 {
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    max-width: 600px;
}

footer a {
    color: antiquewhite;
}
footer {
    text-align: center;
}
footer p{
    font-size: 14px;
    line-height: 1rem;
}
footer .first {
    padding-top: 15px;
}
footer .second {
    padding-bottom: 15px;
    color: yellow;
}



