body {
    background-color: #fff;
    padding: 0;
    margin: 0;
  }
  
  header {
    background-color: #2e2e2e;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header img {
    width: 100px;
    height: auto;
  }
  
  .headings {
    display: flex;
    flex-direction: column;
  }
  
  .headings h1 {
    font-size: 1.2rem;
    margin: 0 auto;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
  }
  
  .motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: #fff;
    margin: 0 auto;
    font-size: .8rem;
    text-align: center;
  }
  
  nav {
    margin: -15px auto;
    background-color: #088A85;  
  }
  
  .navigation {
    list-style: none;
    padding: 0;
  }
  
  .navigation li:first-child {
    display: block;
  }
  
  .navigation li {
    display: none;
    
  }
  
  .navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
  }
  
  .navigation a:hover {
    color: #fff;
    background-color: #444;
    font-weight: 500;
  }
  
  /* the onclick JS toggles the .responsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #26.
    <ul class="navigation responsive">
    */
  .responsive li {
    display: block;
  }
  
  h2 {
    color: #088A85;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-size: 1.75rem;
    margin: 50px 0 0 0;
  }
  
  .contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed #444;
    padding: 15px;
    background-color: #D8D8D8;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    max-width: 80%;
  }
  
  footer {
    background-color: #088A85;
    color:#FFF;
    margin: 15px auto;
    padding: 5px;
    max-width: 860px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    max-width: 90%;
  }
  footer a {
      color: #fff;
  }