body {
    background: #fff;
    padding: 0;
    margin: 0;
  }

  h1, h2, h3 {
    font-family: 'Merienda One';
  }
  aside {
    background-color: #088A85;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: 'Merienda One';
    font-size: 1rem;
  }

  header {
    background-color: #5ce4ff;
    /* background-color: #F47e01; */
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header img {
    width: 100px;
    height: auto;
  }
  
  .headings {
    display: flex;
    flex-direction: column;
  }
  
  .headings h1 {
    font-size: 1.5rem;
    font-family: 'Merienda One';
    margin: 0 auto;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #000;
    text-align: center;
  }
  
  .motto {
    font-family: 'Merienda One';
    font-style: italic;
    letter-spacing: 1pt;
    color: #000;
    margin: 0 auto;
    font-size: .8rem;
    text-align: center;
  }
  
  nav {
    margin: -15px auto;
    background-color: #f47e01;  
  }
  
  .navigation {
    list-style: none;
    padding: 0;
  }
  
  .navigation li:first-child {
    display: block;
  }
  
  .navigation li {
    display: none;
    
  }
  
  .navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
  }
  
  .navigation a:hover {
    color: #000;
    background-color: #5ce4ff;
    font-weight: 500;
  }
  
  /* the onclick JS toggles the .responsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #26.
    <ul class="navigation responsive">
    */
  .responsive li {
    display: block;
  }
  .navigation .fixed {
    color: #fff;
    background-color: #edbd75;
  }
  /*-------------------Main Home-------------------*/

  main {max-width: 95%;margin:0 auto;}
  .img {
    width: 100%;
    height: 200px;
  }
  /* h2 {text-align: center;font-size:2.5rem;text-shadow:3px 3px 5px #777;} */
  
  .herodiv {margin: 10px auto;position: relative;}
  .herodiv h2 {margin: 0;
    font-size: 1.2rem;
    font-family: 'Merienda One';
    /* border-bottom: 2px solid #f47e01; */
    color: #f47e01;
    text-shadow: 2px 0px 0px #000;
  }
  .herodiv p {
    font-family:sans-serif;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #f47e01;
     text-shadow: 1px 0px 1px #000; 
     text-align: left;
  }
  .stats {
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: transparent;
    padding: 1.5rem;
    box-shadow: 0 0 10px #111;
    border-radius: 5px;
    /* opacity: .9; */
  }
  @keyframes colores {
    0% {color: #f47301;}
    25% {color: #5ce4ff;}
    50% {color: #f47e01;}
    75% {color: #5ce4ff;}
    100% {color: #f47e01;}
  }

  .rent {
    background-color: #edbd75;
    width: 100%;
    height: 50px;
  }
  .rent h2  {
    font-size: 1.3rem;
    color: #f47e01;
    text-align: center;
    font-weight: 100;
    animation-name: colores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .rent a {
    text-decoration: none;
    display:block;
    padding: 10px;
    
    /* animation-interation-count:infinite; */
  }
  /*-------------------Table Home------------------------*/
.section2 {
  display: none;
}
.five {
  color: #f47e01;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  .forecast{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0px auto;
    
}
.flex-col{
    flex: 1 1 auto;
    text-align: center;
    margin-top: 1.5rem;
}
.day{
    display: block; 
    font-size: 1.5rem;
    padding: 1rem 0px 0px ;
   
    text-align: center;
}
.temp {
  font-size: 1.5rem;
}
.forecast img{
    padding: .75rem;
    margin: .75rem;
    width: 50%;
    border-radius: 100px;
    background-color:#B8D3E9;
}
  
  /*--------------------Article--------------------*/
  .galery picture img {
    max-width: 280px;
    max-height: 230px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin: 0 auto;
    display: flex;
  }
  .galery h3 {
    text-align: center;
    color: #5ce4ff;
    text-shadow: 2px 0 0 #000;
  }
  .galery a {
    text-decoration: none;
  }
/*------------------Table Main Rentals---------------------*/
.table {
  display: none;
}
table {
  margin: 0 auto;
}
table, th, td {
  border:1px solid rgba (0,0,0,.2)
}
table {
  border-collapse: collapse;
  max-width: 60%;
  text-align: center;
}
th, td {
  padding: 10px 20px;
}
th {
  background: #5ce4ff;
  color: #000;
 }
 tr:hover {background: #edbd75;}

  /*----------------Social Media--------------------*/
.contact {
  text-align: center;
  margin: 10px auto;
}
.contact picture {  
  margin: 0 auto;
}
.contact a {
  text-decoration: none;
}
.contact a img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
}

  /*------------------End Main----------------------*/
  h2 {
    color: #f47e01;
    font-family: 'Merienda One';
    text-align: center;
    font-size: 1.75rem;
    margin: 50px 0 0 0;
  }
  
  .contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed #444;
    padding: 15px;
    background-color: #D8D8D8;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    max-width: 80%;
  }
  
  footer {
    background-color: #5ce4ff;
    color:#000;
    margin: 15px auto;
    padding: 5px;
    max-width: 860px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    max-width: 90%;
  }
  footer a {
      color: #000;
  }